
:root {
    --white: #fff;
    --light-gray: #ddd;
    --logo-color: #f4f4f8;
    --light-white: #f2e0e0;
    --background-color: #f8fcf9;
    --red-dark:rgba(255, 0, 0, 0.87);
    --gray: #9a9a9a;
    --black: #000000;
    --dark-gray: #2d2d2d;   
    --dark-gray-red: rgba(115, 114, 114, 0.12);
    --green: #5cb874;
    --green2: #38a62e;
    --green3: #0b3d06;
    --dark-green: rgb(12, 32, 12);
    --background-green: rgba(68, 150, 91, 0.299);
    --yellow: #ffc107;
    --orange: orange;
    --light-yellow: #ffeb8d;
    --blue: blue;
    --light-blue:rgb(76, 130, 211);
    --background-blue: rgba(7, 58, 109, 0.265);
    --background-blue2:rgba(4, 35, 65, 0.861);
    --purple:purple;
    --header--background:#94846B;
  }


li{
    list-style-type: none;

}
input[type="radio"] {
    accent-color: palevioletred; 
  }
.detailOrder__cart--description{
    display: flex;
    flex-direction: column;
}
.detailOrder__title-1{
    color: palevioletred;
    margin-top: 70px;
}   
.detailOrder__title{
    
    color: palevioletred;
}
.detailOrder__info {
    width: 100%;
}
.detailOrder__info ul{
    padding: 0;
}
.detailOrder__info--item input, .detailOrder__info--item select, .detailOrder__info--item textarea{
    width: 100%;
    margin-bottom: 7px;
    border: 1px solid #999;
    border-radius: 3px;
}

.detailOrder{
    background-color: var(--background-color);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
}
.a{
    border: 1px solid #999;
    border-radius: 4px;
    padding: 7px;
    background-color: var(--white);
}
.a .freeship{
    cursor: pointer;
}
.detailOrder__cart{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
    background-color: var(--white);
    margin:0px 10px 10px;
}
.total__price{
    box-shadow: 0 0 2px 2px palevioletred;
    padding: 20px;
    /* margin: 0px 10px 10px 10px; */
    margin-top: 10px;

}
 .total__price--sum, .total__price--ship{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #999;
}
.total__price-finaly{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.total__price-finaly a{
    color: palevioletred;
    text-decoration: underline;
}
/* Car{t admin */
.cart__admin{
    margin-left: 20px;    
    margin-right: 20px;
    border-top: 2px solid green;
}
.table_admin{
    border: 2px solid green;
}

/* Cart customer */
.cart{
    display: flex;
}
@media screen and (max-width: 1200px) {
    .cart{
        flex-wrap: wrap;
    }
  }

  
.product__cart{
    margin-top: 20px;
    flex: 60%;
}
.product__left{
    flex: 40%;
    margin-top: 20px;
}
.product__left h3{
    margin-top: 10px;
    padding: 12px;
}
.product__left--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding: 20px;
}
.product__cart--item-checkbox {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.product__left--item-list{
    display: flex;
    flex-direction: column;
}
.product__left--item-list span{
    font-size: 1.2rem;
    
}
.product__cart--group{
    padding: 0;
}
.product__cart--head{
    border: 1px solid #222;
    width: 90%;
}
.product__cart input {
    float: right;
}
.product__left--title .btn-confirm{
    width: 90%;
}
 .product__cart--item-btn{
    align-self: flex-end;
    justify-content: flex-end;
}
.product__cart--body{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
    padding: 10px 20px 10px;
    align-items: center;

}
.product__cart--body input{
    margin-left: 0px;
}
.product__cart--body button{
    float: right;
}
.product__cart--item-con{
    display: flex;
    flex-direction: column;
}


.product__cart--item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product__cart--body{
    position: relative;
}
.product__cart--item-btn {
    position: absolute;
    right: 10px;
}
.product__cart--item img{
    width: 200px;
    height: 200px;
}
.product__cart--item span{
    width: 10%;
}
.product__cart--item-btn{
    display: flex;
    flex-direction: column;
}
.product__cart--item-btn .btn-delete{
    margin-top: 10px;
}
.product__cart--sum{
    
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
}

/* carts */

.header__cart {
    position: relative;
}
.header__cart--count::after {
    content: attr(data-notify);
    font-family: Poppins-Regular;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    line-height: 15px;
    text-align: center;  
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    background-color: palevioletred;
    border-radius: 50%;
  }

  .bmtn-confirm {
    width: 92%;
  }
  .bmtn-confirm, .btn-delete, .btn-update{
    transition: scale 0.2 ease;
  }
  .bmtn-confirm:active, .btn-delete:active, .btn-update:active{
    scale: 0.95;
  }

  .bmtn-confirm:hover, .btn-delete:hover, .btn-update:hover{
    scale: 1.05;
  }



