/* @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); */


/* @import url('https://fonts.cdnfonts.com/css/the-font-2'); */

/* @import url('https://fonts.cdnfonts.com/css/nova-square'); */

/* @import url('https://fonts.cdnfonts.com/css/draughtsman-a'); */

@import url('https://fonts.cdnfonts.com/css/im-fell-french-canon-pro');




:root {
    --white: #fff;
    --light-gray: #ddd;
    --logo-color: #f4f4f8;
    --light-white: #f2e0e0;
    --background-color: #f8fcf9;
    --red-dark:rgba(255, 0, 0, 0.87);
    --gray: #9a9a9a;
    --black: #000000;
    --dark-gray: #2d2d2d;   
    --dark-gray-red: rgba(115, 114, 114, 0.12);
    --green: #5cb874;
    --green2: #38a62e;
    --green3: #0b3d06;
    --dark-green: rgb(12, 32, 12);
    --background-green: rgba(68, 150, 91, 0.299);
    --yellow: #ffc107;
    --orange: orange;
    --light-yellow: #ffeb8d;
    --blue: blue;
    --light-blue:rgb(76, 130, 211);
    --background-blue: rgba(7, 58, 109, 0.265);
    --background-blue2:rgba(4, 35, 65, 0.861);
    --purple:purple;
    --header--background:#94846B;
  }

.btn-pink {
    background: linear-gradient(to right,#FFC1C2, #FFC1C2);
    transition: scale 0.2 ease;
}
.btn-pink:hover{
    scale: 1.05;
}
.btn-pink:active{
    scale: 0.95;
}
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
body{
    /* background-color: #F5F5F5; */
    /* font-family:"Kode Mono", monospace; */

    /* font-family: 'Nova Square', sans-serif; */

    /* font-family: 'Draughtsman A', sans-serif; */

    /* font-family: 'IM FELL French Canon PRO', sans-serif; */
    /* background-color: var(--background-color); */
}

a{
    text-decoration: none;
    color: var(--black);
    /* color: palevioletred; */
}
a:hover{
    color: #000000;
}
 ul li{
    list-style: none;
 }

.button{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin: 5px 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
.button-red {
    background-color: #C92127;
    color: var(--white);
}
.button-red a{    
    color: var(--white);
}
.button-white {
    background-color: var(--white);
    border: 2px solid #C92127;
}
.button-white a{
    color: var(--black);
}
.button-blue {
    background-color: #2488F3;
    color: var(--white);
}
.button-blue i{
    margin-right: 18px;
}
.button-blue a{
    color: var(--white);
}
